<!doctype html>
<html>
<head>
  <title><%= project %> Account Activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <meta name="format-detection" content="telephone=no">
  <style type="text/css">
    a {
      font-size: 13px;
      color: blue;
      cursor: pointer;
    }
  </style>
</head>


<body style="margin:0px; padding:0px;">
  Hello, 
  <br>
    Thanks for your joining <%= project %>!
  <br>
  <p>Here is your verification code. <%= code %></p>
  <!-- <p>Please confirm your email by clicking here <a href="<%= appLink %>">Verify Email</a></p> -->
  <br>
  - The <%= project %> Team
</body>
</html>